@import "../../responsive.scss";

.profilePage {
  display: flex;
  height: 100%;

  @include tablet{
    flex-direction: column;
    overflow: scroll;
  }

  .details {
    flex: 3;
    overflow-y: scroll;
    padding-bottom: 50px;

    @include tablet{
      flex:none;
      height: max-content;
    }

    .wrapper{
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      color: inherit;

      .title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #f5f3ff;

        &:hover{
          color: #00bcd4;
        }

        h1{
          font-weight: 300;
        }

        button{
          padding: 12px 24px;
          background-color: #fece51;
          cursor: pointer;
          border: none;
        }
      }

      .info{
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #f5f3ff;

        span{
          display: flex;
          align-items: center;
          gap: 20px;
        }

        button {
          width: fit-content;
          background-color: rgb(0, 0, 0);
          background-color: red;
          color: white;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;

          i {
            padding: 5px;
          }
        }
        button:hover {
          background-color: rgb(244, 57, 57);
        }

        img{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
  .chatContainer {
    flex: 2;
    background-color: #fcf5f3;
    height: 100%;

    @include tablet{
      flex:none;
      height: max-content;
    }

    .wrapper{
      padding: 0px 20px;
      height: 100%;

      img {
        height: 60px;
      }
    }

    .allUsers {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    
      .userCard {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        background-color: #f5f5f5;
        border-radius: 5px;
        cursor: pointer;
    
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
    
        span {
          font-weight: bold;
        }
        
        &:hover {
          background-color: #ebebeb;
        }
      }
    }
    
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
