@import "../../responsive.scss";
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;

    a {
        transition: all 0.4s ease;

        @include mobile {
            display: none;
        }

        &:hover {
            scale: 1.05;
        }

    }
    
    .left {
        display: flex;
        flex: 3;
        align-items: center;
        gap: 50px;
        img {
            height: 70px;
        }
        .logo {
            @include mobile {
                display: initial;
                img {
                    height: 60px;
                }
            }
        }
    }
    .right {
        display: flex;
        flex: 2;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        background-color: #fcf5f3;

        
        @include tablet {
            background-color: transparent;
        }

        a {
            padding: 12px 24px;
            margin: 6px;
            border-radius: 5px;
        }

        .signIn {
            background-color: #3f51b5;
            color: white;
        }

        .register {
            background-color: #4caf50;
            color: white;
        }

        .menuIcon {
            display: none;
            img {
                height: 36px;
                width: 36px;
            }
            @include mobile {
                display: initial;
            }
            z-index: 999;
        }

        .menu {
            position: absolute;
            top: 0;
            right: -50%;
            height: 100vh;
            background-color: black;
            color: white;
            width: 50%;
            transition: all 0.8s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 18px;
            font-size: 20px;

            &.active {
                right: 0;
            }

            @include mobile {
                a {
                    display: initial;
                }
            }
        }
    } 
}
